.profilePicBig img {
  height: 240px;
  width: 240px;
  border-radius: 500px;
  box-shadow: rgba(0, 0, 0, 0.113) 1px 1px 10px;
}
.dateBig {
  font-size: small;
  /* margin-top: 10px; */
  color: rgb(102, 90, 90);
}
.teamBig {
  font-size: small;
  color: rgb(84, 123, 230);
  margin-top: 10px;
  font-weight: 600;
}
.nameBig p {
  font-size: small;
  color: rgb(142, 142, 142);
}
.nameBig {
  font-size: large;
  color: rgb(0, 0, 0);
}

.rowR{
  display: flex;
}

.profilePicBig{
  width:29%;
  display: flex;
  justify-content: center;
  margin-right: 1%;
}
.d{
  width: 70%;
  display: flex;
}
.d1{
  width:80%;
}
.d2{
  width: 20%;
  display: flex;
  justify-content: end;
}
.abc{
  margin-top: 4rem;
}


@media only screen and (max-width: 1008px) {
  .rowR{
    display: block;
  }
  .profilePicBig{
    width:100%;
  }
  .d{
    width: 70%;
    display:block;
    justify-content:center;

  }
  .d1,
  .d2{
    width: 100%;
    display: block;
  }
  .abc{
    margin-top: 0px;
  }
  .d{
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  .d1,
  .d2{
    margin-top: 0px;
    width: 100%;
  }
}
