
.box-container{
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 10px; 
    border-radius: 10px; 
    padding-top: 1.2rem; 
    padding-bottom: 1rem;
    margin-top: 2.5rem; 
}
.boxy{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap:15px; 
    padding: auto;
}
.lap-img{
    width: 15rem;
    height: 15rem;
    box-shadow: rgba(10, 10, 10, 0.1) 1px 1px 10px;
    border-radius: 500px;;
    align-content: center;
}
.box{
    margin: auto;
}

.lap-img img{
    width: 14rem;
    height: 14rem;
}
@media only screen and (max-width: 500px) {
    .lap-img{
        width: 12rem;
        height: 12rem;
    }
    .lap-img img{
        width: 12rem;
        height: 12rem;
    }
}

@media only screen and (max-width: 450px) {
    .lap-img{
        width: 9rem;
        height: 9rem;
    }
    .lap-img img{
        width: 9rem;
        height: 9rem;
    }
}